#landing *{color: #010101;}

/* 페이퍼로지 3*/
@font-face { font-family: 'Paperlogy-3Light'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2'); font-weight: 300; font-style: normal; } 
/* 페이퍼로지 4 */
@font-face { font-family: 'Paperlogy-4Regular'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2'); font-weight: 400; font-style: normal; } 
/* 페이퍼로지 5 */
@font-face { font-family: 'Paperlogy-5Medium'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2'); font-weight: 500; font-style: normal; } 
/* 페이퍼로지 6 */
@font-face { font-family: 'Paperlogy-6SemiBold'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2'); font-weight: 600; font-style: normal; } 
/* 페이퍼로지 7 */
@font-face { font-family: 'Paperlogy-7Bold'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2'); font-weight: 700; font-style: normal; } 
/* 페이퍼로지 8 */
@font-face { font-family: 'Paperlogy-8ExtraBold'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2'); font-weight: 800; font-style: normal; } 
/* 페이퍼로지 9 */
@font-face { font-family: 'Paperlogy-9Black'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2'); font-weight: 900; font-style: normal; } 

:root {
    --pl3: 'Paperlogy-3Light';
    --pl4: 'Paperlogy-4Regular';
    --pl5: 'Paperlogy-5Medium';
    --pl6: 'Paperlogy-6SemiBold';
    --pl7: 'Paperlogy-7Bold';
    --pl8: 'Paperlogy-8ExtraBold';
    --pl9: 'Paperlogy-9Black';
    --green: #009223;
    --light_green: #e6f082;
}

/* br */
br.view1240{display: none;}
br.view991{display: none;}
br.view768{display: none;}
br.view570{display: none;}
br.view440{display: none;}
@media(max-width:1240px){
br.view1240{display: block;}
}
@media(max-width:991px){
br.view991{display: block;}
}
@media(max-width:768px){
br.view768{display: block;}
}
@media(max-width:570px){
br.view570{display: block;}
}
@media(max-width:440px){
br.view440{display: block;}
}


/* 색션타이틀 */
#landing .titlebox{margin-bottom: 50px;}
#landing h3{font-family: var(--pl8); font-size: 50px;}
#landing h4{font-family: var(--pl7); font-size: 40px;}
#landing h5{font-family: var(--pl6); font-size: 40px;}
#landing .titlebox img{width: 120px; margin-bottom: 15px;}

@media(max-width:991px){
    #landing h3{font-size: 40px;}
    #landing h4{font-size: 32px;}
    #landing h5{font-size: 28px;}
    #landing .titlebox img{width: 90px;}
}
@media(max-width:768px){
    #landing .titlebox{margin-bottom: 30px;}
    #landing h3{font-size: 32px;}
    #landing h4{font-size: 26px;}
    #landing h5{font-size: 24px;}
    #landing .notice{font-size: 12px;}
    #landing .bt_txt{font-size: 28px !important;}
    #landing .titlebox img{width: 80px;}
}
@media(max-width:570px){
    #landing h3{font-size: 30px;}
    #landing h4{font-size: 24px;}
    #landing h5{font-size: 22px;}
    #landing .bt_txt{font-size: 24px !important;}
    #landing .titlebox img{width: 70px;}
}


/* 수강신청 플로팅배너 */
.fl_btn{display:none; position: fixed; top: 260px; right: 20px; z-index: 999;}
.fl_btn p{font-size:18px !important;}

@media screen and (min-width:1180px) {
  .fl_btn{display:block;}
  .fl_btn a{width:95px; height:90px; background-color: #FF462D;display:flex; justify-content: center; align-items: center;}
  .fl_btn p{font-size:14px;text-align: center; color: #fff !important; font-weight: 800 !important;}
  .fl_btn p span{display: block;color: #fff !important; }
  .fl_btn p i{color: #fff !important;}
}

/* ------------------------------------------------------------------------------------------------------------ */

/* sec1 */
#sec1{background: url(https://www.moa-ba.com/gnu/data/cheditor/260511_fireMockTest/sec1_bg.webp) no-repeat 50% 50%; background-size: cover; position: relative;}
